<!DOCTYPE html>
{{ partial "html_open.html" . }}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if eq .RelPermalink "/" }}
    <title>{{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="og:type" content="website">
    {{ else }}
    <title>{{ .Title }}{{ with .Params.subtitle }} - {{ . }} {{ end }} - {{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
    {{ end }}

    {{ $summary := "" }}
    {{ with .Description }}
      {{ $summary = (markdownify .) }}
    {{ else }}
      {{ $summary = ((delimit (findRE "(<p.*?>(.|\n)*?</p>\\s*)+" .Content) "[&hellip;] ") | plainify | truncate (default 200 .Site.Params.summary_length) (default " &hellip;" .Site.Params.text.truncated)) }}
    {{ end }}

    {{ if eq .RelPermalink "/" }}
    <meta property="description" content="{{ .Site.Params.description }}">
    {{ else }}
      {{ with $summary }}
      <meta property="description" content="{{ . }}">
      <meta property="og:description" content="{{ . }}">
      {{ end }}
    {{ end }}

    {{ $autoImage := false }}

    {{ if .Keywords }}
    <meta property="keywords" content ="{{ delimit .Keywords ", " }}">
    {{ end }}

    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    {{ end }}
    {{ partial "head_highlightjs" . }}
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  {{- $section := (replaceRE "^/([^/]+)/.*" "$1" .RelPermalink) -}}
  {{ $.Scratch.Set "section" $section }}
  <body class="{{ if .IsHome }}home{{ else }}{{ $section }}{{ end }}{{ with .Params.page_class }} {{ . }}{{ end }}">
    <header class="masthead">
      {{ partialCached "tagline.html" . $section }}
      {{ partial "menu.html" . }}
    </header>

    <article class="main">
      <header class="title">
      {{ partial "meta.html" . }}
      </header>
