<div class="container">
  <a href="https://discord.gg/DFRqc8q" target="_blank" rel="noopener noreferrer">
    <img src="/socials/Discord_Logo_White.svg" alt="discord-logo" class="right socials" />
  </a>
  <a href="https://discord.gg/VAQ447Wkqe" target="_blank" rel="noopener noreferrer">
    <img src="/socials/Discord_Logo_White.svg" alt="discord-logo" class="right socials" />
  </a>
  <a href="https://bsky.app/profile/endode.bsky.social" target="_blank" rel="noopener noreferrer">
    <img src="/socials/Bluesky_App_Icon.png" alt="bluesky-logo" class="right socials" />
  </a>
  <a href="https://youtube.com/@endode9" target="_blank" rel="noopener noreferrer">
    <img src="/socials/YouTube_Logo_White.svg" alt="youtube-logo" class="right socials" />
  </a>
  <!-- <a href="https://buymeacoffee.com/endode" target="_blank" rel="noopener noreferrer">
    <img src="/socials/buymeacoffee_Logo_White.svg" alt="buymeacoffee-logo" class="right socials" />
  </a> -->
  <a href="https://www.patreon.com/endode" target="_blank" rel="noopener noreferrer">
    <img src="/socials/Patreon_logo_White.svg" alt="patreon-logo" class="right socials" />
  </a>
  <a href="https://endode.itch.io/" target="_blank" rel="noopener noreferrer">
    <img src="/socials/itchio-logo-textless-white.svg" alt="itch-io-logo" class="right socials" />
  </a>
  <a href="https://gamejolt.com/@endode" target="_blank" rel="noopener noreferrer">
    <img src="/socials/gamejolt_logo_white.png" alt="gamejolt-logo" class="right socials" />
  </a>
  <!-- <a href="https://twitch.tv/endode" target="_blank" rel="noopener noreferrer"> -->
    <!-- <img src="/socials/Twitch_Logo_White.svg" alt="twitch-logo" class="right socials" /> -->
  <!-- </a> -->
  <a href="https://mastodon.social/@endode" target="_blank" rel="noopener noreferrer me">
    <img src="/socials/Mastodon_Logo_White.svg" alt="mastodon-logo" class="right socials" />
  </a>
  <a href="https://gitlab.com/endode" target="_blank" rel="noopener noreferrer">
    <img src="/socials/gitlab_Logo_White.svg" alt="gitlab-logo" class="right socials" />
  </a>
  <!-- <a href="https://www.deviantart.com/endertravis9" target="_blank" rel="noopener noreferrer">
    <img src="/socials/DeviantArt_Logo_White.svg" alt="deviantart-logo" class="right socials" />
  </a> -->
  <!-- <a href="https://soundcloud.com/endode9" target="_blank" rel="noopener noreferrer">
    <img src="/socials/Soundcloud_Logo_White.svg" alt="gitlab-logo" class="right socials" />
  </a> -->
  <a href="/index.xml" target="_blank" rel="noopener noreferrer">
	  <img src="/socials/RSS_Icon_White.svg" alt="rss-logo" class="right socials"/>
  </a>
</div>
