{{ if not .IsHome }}
<h1>{{ .Title }}</h1>
{{ with .Params.subtitle }}<h2 class="subtitle">{{ . }}</h2>{{ end }}
{{ $author := false }}
{{ if .IsPage }}
<h3>{{ with or (or .Params.author (index (or .Site.Params.author dict) .Section)) "" }}
{{ $author = . }}
{{ . }}
{{ end }}
Created: 
{{ $date := "" }}
{{ if .Params.date }}
{{ $date = .Date.Format "2006-01-02" }}
{{ else }}
{{ with .Lastmod }}
{{ $date = .Format "2006-01-02" }}
{{ end }}
{{ end }}
{{ with $date }}
{{ if $author }} / {{ end }}
{{ . }}
{{ end }}
{{ with .GitInfo }}
{{ if ne .CommitDate $date }} <br> Modified: {{ .CommitDate.Format "2006-01-02" }}{{ end }}
{{ end }}</h3>
{{ end }}
<hr>
{{ end }}
