@font-face {
  font-family: "Jupiteroid";
  src: url("/fonts/JupiteroidRegular.ttf") format("truetype");
}

body {
	font-family: "Jupiteroid";
}

code {
  font-family: "Jupiteroid";
}

pre code {
	font-family: "Jupiteroid";
}
